@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    --primaryColor: white;
    --secondaryColor: rgb(49, 48, 48);
}
body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient( 270deg  , #5736cc , rgb(190, 51, 128));
    /* background-color: var(--secondaryColor); */
    

}

/* Menu Page Css start */

nav {
    width: 50%;
    background-color: rgba(132, 161, 170, 0.295);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 30px;
    backdrop-filter: blur(40px);
    box-shadow: 2px 5px 15px rgb(163, 216, 113);
    background: linear-gradient(to right , rgba(86, 250, 242, 0.5) , rgba(228, 74, 113, 0.438));
    
}

.navLink {
    font-size: 2.5rem;
    text-decoration: none;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 30px;
    padding: 10px 20px;
    color: var(--primaryColor);
    font-weight: 600;
    transition: all , 0.3s;
    /* margin: 2px; */
}

.navLink:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(18, 4, 78);
    border-radius: 30px;
}

.label {
    width: 100%;
    height: 60px;
    background: linear-gradient( 270deg  , #5736cc , rgb(190, 51, 128));
    display: flex;
    align-items: center;
    display: none;
    position: relative;
    z-index: 10;
}

.label img {
    max-width: 45px;
    max-height: 45px;
    margin-left: 20px;
    cursor: pointer;
    padding: 3px;
    margin-top: 12px;
    
}

.label img:hover {
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(128, 0, 0, 0.445);
}

input[type = "checkbox"] {
    display: none;
}

@media screen and (max-width: 600px) {
    .label {
        display:block;
    }
    nav {
        /* transform: translateY(-400px); */
        flex-direction: column;
        margin-top: -268px;
        width: 100%;
        height: auto;
        transition: .8s;
    }

    .navLink {
        font-size: 3.2rem;
        /* padding-left: 10px; */
        /* padding: 10px 5px; */
        padding-right: 10px;
    }


    #toggle:checked + nav {
        /* transform: translatey(0px); */
        margin-top: 0px;
    }
}



/* Home page css start */



.rCircle {
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    right: 76px;
    z-index: -1;
    display: none;
}

.lCircle {
    display: none;
    height: 150px;
    width: 150px;
    background-color: rgb(0, 0, 255);
    border-radius: 50%;
    position: absolute;
    left: 540px;
    z-index: -1;
    animation-name: sample;
    animation-duration: 26s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* transition: all .5s; */
}

@keyframes sample {
    0%{
         margin-left: 750px;
    }
}




.mainSection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid red; */
    margin-top: 10%;
    padding: 40px 10px;
    position: relative;
    
}

.imgSection {
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 50%;
    border-right: 14px solid rgb(203, 247, 103);
    overflow: hidden;
   
}

.imgSection img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.detailSection {
    width: 50%;
    padding: 50px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background: linear-gradient(rgba(170, 163, 163, 0.158),rgba(235, 225, 225, 0.13));
    box-shadow: 2px 6px 14px rgb(247, 242, 234);

}

.detailSection .name {
    text-align: center;
    padding: 10px;
    font-size: 3.4rem;
    color: white;
    text-shadow: 4px 2px 10px yellow;
}

.detailSection p {
    text-align: center;
    padding: 5px;
    font-size: 2.4rem;
    color: var(--primaryColor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

@media screen and (max-width: 600px) {
    .mainSection {
        height: auto;
        flex-direction: column;
        margin: 7% 0;
    }
    .imgSection {
        height: 250px;
        width: 250px;
        margin-bottom: 50px;
        border-right-color: rgb(85, 192, 211);
    }
    .detailSection {
        width: 100%;
        height: auto;
        padding: 5px;
        
        /* margin: 2px 8px; */
    }

    .detailSection p {
        font-family: 'Bitter', serif;
        font-family: 'Source Serif 4', sans-serif;
        font-weight: 600;
        /* word-spacing: 2px; */
        text-align: center;
        padding: 8px;
        
    }

    .detailSection .name {
        font-size: 3rem;
    }
}


/* Skills Components Css start */

.heading {
    text-align: center;
    color: var(--primaryColor);
    font-size: 4.5rem;
    margin: 40px 0px;
    
}
.mainBody {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.mainBody .container {
    width: 1200px;
    height: 400px;
    padding: 20px 0;
    box-shadow: 0px 10px 40px rgba(157, 219, 248, 0.363);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    border-radius: 50px;
}

.content {
    display: inline-block;
    width: 220px;
    height: 80px;
    background: linear-gradient(to right , rgba(125, 47, 228, 0.534) , rgba(103, 241, 103, 0.603));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    box-shadow: 0 5px 5px purple;
    transition: .5s;
    cursor: pointer;
}
.content h2 {
    color: var(--primaryColor);
    font-size: 2.1rem;
    font-weight: 900;
}

.content:hover {
    background-color: red;

}

@media screen and (max-width: 600px) {
    .mainBody .container {
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .mainBody .container .content {
        width: 260px;
        margin: 20px 2px;
        padding: 5px 2px;
    }
}








.footerTitle {
    width: 100%;
    text-align: center;
    color: var(--primaryColor);
    position: fixed;
    bottom:0px;
    padding: 10px;
    background-color: rgb(128, 128, 128);
    z-index: 10;
}