:root {
  --ContainerWidth: 1305px;
}

.mainContainer {
    position: relative;
}

a {
  text-decoration: none;
}

.container {
  width: var(--ContainerWidth);
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  background-color: rgb(207, 233, 227);

  margin: auto;
  background-color: rgb(207, 233, 227);
  padding-top: 10px;
}
.container .heading {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.heading .headingContent {
  width: var(--ContainerWidth);
  display: flex;
  flex-direction: column;
}

/* // Responsiv code begin */

/* tablet or ipad pro */
@media screen and (max-width: 1304px) {
  :root {
    --ContainerWidth: 100vw;
  }
}

@media screen and (max-width: 480px) {
   .container {
    height: auto;
   }  

}
