:root {
  --backgroundColor: rgb(83, 83, 83);
  --textColor: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor)
}

.nameShadow {
  font-weight: bold;
  font-size: 5rem;
  text-shadow: 5px 5px 6px rgb(39, 42, 41);
}