:root {
  --backgroundColor: rgb(73, 73, 73);
  --textColor: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--backgroundColor);
  color: var(--textColor);

}